.pic img{
    width: 59%;
    height: 50%;
}
#style{
    font-style: italic
}
#luffy{
    height: 300px;
    width: 30%;
}
#zoro{
    height: 300px;
    width: 30%;
}
#sanji{
    height: 300px;
    width: 30%;
}